body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.registration-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid navy;
}

.registration-container h1 {
    text-align: center;
    color: navy;
}

.registration-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: skyblue;
}

.message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}